*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

.hero{
  min-height: 100vh;
  max-width: 100%;
  background-image: url(../images/portfolio-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;

}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
span{
  color: #CD3700;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;

}
nav ul li a{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;

}
nav ul li a:hover{
  color: #CD3700;
  transition: .4s;
}
.btn{
  background-color: #CD3700;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}
.btn:hover{
  transform: scale(1.2);
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 65px;
}
h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4{
  color: #FFF0F5;
  letter-spacing: 2px;
  font-size: 20px;
}
.newsletter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newsletter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #CD3700;
  outline: none;
  border-radius: 30px;
}
.newsletter form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #CD3700;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}
.about{

  padding: 100px 0px;
  background-color: #191919;
}
.about img{
  min-height: auto;
  max-width: 500px;
}
.about text{
  padding: : 50px;
}
.main{

  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: #FFF0F5;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background-color: #CD3700;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background-color: transparent;
  border: 2px solid #CD3700;
  cursor: pointer;
}
.service{
  background: #101010;
  max-width: 100%;
  padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 75px;
  max-width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;

}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #CD3700;
}
h5{
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}
.pra p{
  color: #FFF0F5;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #CD3700;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #CD3700;
  cursor: pointer;
}
.contact-me{
  max-width: 100%;
  min-height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two{
  background-color: #CD3700;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid #CD3700;
  cursor: pointer;
}
footer{
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CD3700;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
.end{
  position: absolute;
  color: #CD3700;
  bottom: 35px;
  font-size: 14px;
}

.serv{
  background: #101010;
}
.ab{
  background-color: #191919;
}
.newslet{
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 80px 30px;
  border-radius: 5px;
}
.newslet hr{
  max-width: 100px;
  min-height: 3px;
  margin: 30px auto;
  border: 0;
  background: grey;
}
.newslet p{
   font-size: 20px;
   line-height: 26px;
   color: white;
   margin-bottom: 32px;


}
.newslet input{
  border-radius: 4px;
  background-color: grey;
  max-width: 100%;
  min-height: 55px;
  border: 0px;
  padding: 0 20px;
  color: black;
  margin-bottom: 36px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}
.newslet button{
  border: 1px solid black;
  border-radius: 3px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  padding: 0px 25px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;

}
.newslet button:hover{
  background-color: #CD3700;
  border-color: #CD3700;
}
@media (max-width: 1270px){
  nav{
    padding: 18px 4%;
    transition: .2s;
  }
.logo{
  padding: 8px;

}
.content{

  padding-top: 80px 4%;
  transition: .2s;
}
.about{
  padding: 70px;
  transition: .2s
}
.about img{
  height: inherit;
  max-width: 350px;
  transition: .3s

}
}
@media (max-width: 980px){
  .hero{
    height: 85vh;

  }
  nav{
    padding: 5px;
    position: static;
    top: 2%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #CDCDC1;
    text-align: left;
    transition: all .30s;
  }

.about{
  grid-template-columns: 2fr;
}
.about img{
  order: 2;
  width: 100%;
  height: auto;
}
.main text{
  text-align: center;
  margin-bottom: 30px;
}
p{
  font: 1rem;
}
h2{
  font: 3.8rem;
}
.box{
  grid-template-columns: 1fr;
}
.contact-form form input, form textarea{
  max-width: 100%;
  padding: 6px 4%;
  left: 0;
  position: relative;
  border: none;
  outline: none;
  background: black;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
@media (max-width: 768px){
  nav{
    padding: 12px 3%;
    transition: .2s;
  }
.logo{
  padding: 6px;

}
.content{

  padding-top: 65px 3%;
  transition: .2s;
}
.about{
  padding: 80px;
  max-width: 100%;
  transition: .2s
}
.about img{
  height: auto;
  max-width: 100%;
  transition: .3s

}
.contact-form form input, form textarea{

  padding: 4px 4%;
transition: .4s;


}
.contact-form{
  max-width: 100%;
  min-height: 290px;
 position: relative;
 right: 150px;
  transition: .2s;
}
}
.newslet{
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 80px 30px;
  border-radius: 5px;
}
